{% extends 'Catalogos/catalogo.twig' %}

{% block title 'Clientes' %}

{% block tabla %}
    <table id="table" class="table table-bordered table-condensed table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Nombre(s)</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="table-content">
        <!-- Contenido de la tabla -->
        {% for d in clientes %}
            <tr>
                <td>{{ d.Nombres }}</td>
                <td>{{ d.Apellidos }}</td>
                <td>{{ d.Direccion }}</td>
                <td>{{ d.Telefono }}</td>
                <td>{{ d.Correo }}</td>
                <td class="text-right">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <button type="button" class="btn btn-sm btn-primary" id="option1" data-toggle="modal" data-target="#operationModal" data-id="{{ d.IdCliente }}" data-model="{{ modelo }}" data-operation="Editar">
                      <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger" id="option2" data-toggle="modal" data-target="#operationModal" data-id="{{ d.IdCliente }}" data-model="{{ modelo }}" data-operation="Eliminar">
                      <i class="fa fa-trash"></i>
                  </button>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
