{% extends 'Catalogos/catalogo.twig' %}

{% block title 'Conceptos' %}

{% block tabla %}
    <table id="table" class="table table-bordered table-condensed table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Folio</th>
            <th>Cliente</th>
            <th>Concepto</th>
            <th>Fecha</th>
            <th>Importe Inicial</th>
            <th>Pendiente</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="table-content">
        <!-- Contenido de la tabla -->
        {% for d in Prestamo %}
            <tr>
                <td>{{ d.Folio }}</td>
                <td>{{ d.Cliente }}</td>
                <td>{{ d.Concepto }}</td>
                <td>{{ d.Fecha|date('d/m/Y') }}</td>
                <td>{{ d.Importe }}</td>
                <td>{{ d.ImporteActual }}</td>
                <td class="text-right">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <button type="button" class="btn btn-sm btn-primary" id="option1" data-toggle="modal" data-target="#operationModal" data-id="{{ d.IdPrestamo }}" data-model="{{ modelo }}" data-operation="Editar">
                      <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger" id="option2" data-toggle="modal" data-target="#operationModal" data-id="{{ d.IdPrestamo }}" data-model="{{ modelo }}" data-operation="Eliminar">
                      <i class="fa fa-trash"></i>
                  </button>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
