{% extends 'Catalogos/catalogo.twig' %}

{% block title 'Registro de Reservaciones' %}

{% block tabla %}
    <table id="table" class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Folio</th>
            <th>Fecha</th>
            <th>Habitación</th>
            <th>Importe</th>
            <th>Descipcion/Nota</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="table-content">
        <!-- Contenido de la tabla -->
        {% for d in reservaciones %}
            <tr>
                <td>{{ d.Folio }}</td>
                <td>{{ d.Fecha|date('d/m/Y') }}</td>
                <td class="text-center">{{ d.IdHabitacion }}</td>
                <td class="text-right">{{ (d.Efectivo+d.TPVArcos+d.TPVReal+d.Commerce+d.Depositos) }}</td>
                <td>{{ d.Descripcion }}</td>
                <td class="text-right">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <button type="button" class="btn btn-sm btn-primary" id="option1" data-toggle="modal" data-target="#operationModal" data-id="{{ d.IdReservacion }}" data-model="{{ modelo }}" data-operation="Editar">
                      <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger" id="option2" data-toggle="modal" data-target="#operationModal" data-id="{{ d.IdReservacion }}" data-model="{{ modelo }}" data-operation="Eliminar">
                      <i class="fa fa-trash"></i>
                  </button>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
